/* 商品詳細ページのスタイル */
.productDetails {
  display: flex;
  flex-wrap: wrap;
  padding: 1.666%;
  max-width: 100%;
  margin: 1.666% auto;
}

.productGallery {
  flex: 1;
  min-width: 25%;
  margin-right: 1.666%;
}

.productGallery img {
  width: 100%;
  height: auto;
  border: 0.0833% solid #ccc;
}

.productInfo {
  display: flex;
  flex: 1;
  min-width: 70%;
}
.productText {
  flex: 1;
  max-width: 50%; /* 追加されたスタイル */
}

.description {
  line-height: 1.6;
  margin-bottom: 1.666%;
  width: 100%; /* または任意のパーセンテージ */
  word-wrap: break-word; /* 長い単語も折り返す */
}

.productInfo h1 {
  font-size: 2em;
  margin-bottom: 0.833%;
}

.price {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 1.666%;
}

.addToCart {
  padding: 0.833% 1.666%;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 0.416%;
  cursor: pointer;
  font-size: 1em;
}

.addToCart:hover {
  background-color: #4cae4c;
}

@keyframes fadeInOut {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

.addToCartPopup {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  z-index: 1000;
  animation: fadeInOut 3s ease-in-out;
}
