.signinButton {
  width: 100%;
  padding: 1.25%;
  border: none;
  border-radius: 0.5%;
  background-color: #5cb85c;
  color: white;
  font-size: 100%;
  cursor: pointer;
  transition: background-color 0.2s;
}

.signinButton:hover {
  background-color: #4cae4c;
}

.addToCartButton {
  margin-top: 7%;
  padding: 5%;
  background-color: #4CAF50; /* Green */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 80%; /* ボタンの幅を調整 */
  align-self: center; /* ボタンを中央揃え */
}


.addToCartButtonDetail {
  margin: 2%;
  padding: 2%;
  background-color: #4CAF50; /* Green */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 50%; /* ボタンの幅を調整 */
}

.addToCartButtonDetail:hover {
  background-color: #4cae4c;
}

.addToCartButton:hover {
  background-color: #45a049;
  box-shadow: 0 4px 8px rgba(0,150,0,0.4)
}

.addToCart {
  padding: 0.833% 1.666%;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 0.416%;
  cursor: pointer;
  font-size: 1em;
}

.orderCheckout {
  width: 100%;
  padding: 1%; /* Updated from px to % */
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 0.5%;
  cursor: pointer;
  font-size: 1em;
}

.orderCheckout:hover {
  background-color: #4cae4c;
}