/* 商品コンポーネントのスタイル */
.products {
  display: flex;
  align-items: flex-start;  /* 各行のアイテムを上揃えに */
  justify-content: flex-start;  /* 左から右にアイテムを並べる */
  padding: 2%;
  max-width: 100%; /* コンテナの最大幅設定 */
}

.product {
  flex: 0 0 30%; /* 30%の幅を保持し、内容によって伸縮しない */
  margin: 1%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  background: #fff;
  transition: transform 0.3s ease;
  border-radius: 10px; /* 角を丸くする */
}

.product img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 10px; /* 画像の角も丸く */
}

.productTitle {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 5px;
  font-weight: bold; /* タイトルを強調 */
}
