/* 商品コンポーネントのスタイル */
.products {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;  /* 各行のアイテムを上揃えに */
  justify-content: flex-start;  /* 左から右にアイテムを並べる */
  max-width: 100%; /* コンテナの最大幅設定 */
}

.product {
  flex: 0 0 calc(15% - 2%);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  background: #fff;
  transition: transform 0.3s ease;
  border-radius: 10px; /* 角を丸くする */
}

.product img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 10px; /* 画像の角も丸く */
}

.productTitle {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 5px;
  font-weight: bold; /* タイトルを強調 */
}

@keyframes fadeInOut {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

.addToCartPopup {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  z-index: 1000;
  animation: fadeInOut 3s ease-in-out;
}

/* SPの場合の設定 */
@media (max-width: 768px) {
  .product {
    flex: 0 0 calc(33% - 4%);
  }

  .section {
    margin: 0;
  }
}