/* 商品コンポーネントのスタイル */
.products {
  display: flex;
  align-items: flex-start;  /* 各行のアイテムを上揃えに */
  justify-content: flex-start;  /* 左から右にアイテムを並べる */
  padding: 2%;
  max-width: 100%; /* コンテナの最大幅設定 */
}

.product {
  flex: 0 0 30%; /* 30%の幅を保持し、内容によって伸縮しない */
  margin: 1%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  background: #fff;
  transition: transform 0.3s ease;
  border-radius: 10px; /* 角を丸くする */
}

.product img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 10px; /* 画像の角も丸く */
}

.productTitle {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 5px;
  font-weight: bold; /* タイトルを強調 */
}

.rankPriceGrid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2列のグリッドレイアウト */
  width: 100%;
  gap: 10px; /* グリッド間の隙間を調整 */
}

.rankPrice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* ランクカードにシャドウを追加 */
  background: #f8f8f8; /* 背景色を明るく */
}

.quantitySelect {
  margin-top: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc; /* セレクトボックスの境界を強調 */
}

.addToCartButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4CAF50; /* Green */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 80%; /* ボタンの幅を調整 */
  align-self: center; /* ボタンを中央揃え */
}

.addToCartButton:hover {
  background-color: #45a049;
  box-shadow: 0 4px 8px rgba(0,150,0,0.4); /* ホバー時のシャドウを強調 */
}


.rankS { background-color: #2196F3; } /* Brue */
.rankA { background-color: #4CAF50; } /* Green */
.rankB { background-color: #FFD700; } /* Amber */
.rankC { background-color: #FFC107; } /* Yellow */
