body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.signin-container {
  background-color: #fff;
  min-width: 400px;
  margin: auto;
  padding: 5%;
  box-shadow: 0 0.5% 2.5% rgba(0, 0, 0, 0.1);
  border-radius: 2%; /* Added border-radius for rounded corners */
}

.signin-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 3%;
}

.form-group label {
  display: block;
  margin-bottom: 1%;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
  width: calc(100% - 5%); /* Adjust width to account for padding */
  padding: 2.5%;
  border: 0.1% solid #ddd;
  border-radius: 1%; /* Adjust for rounded corners */
  margin-bottom: 2%; /* Add space below input */
}

.signin-button {
  padding: 2.5% 3.75%;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 1%; /* Match the border-radius of the inputs */
  cursor: pointer;
  font-size: 100%; /* Adjusted for relative sizing */
  margin-top: 2%; /* Add some space above the button */
}

.signin-button:hover {
  background-color: #4cae4c;
}
